@charset "UTF-8";
/*
 * @제목: 전체 공통 스타일 파일
 */
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0; }

body {
  font-family: 'Nanum Barun Gothic', sans-serif;
  color: #fff; }

a:hover,
a:focus {
  text-decoration: none; }

ul, ol {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

dl {
  margin-bottom: 0; }

.btn {
  border-radius: 0; }

form input[type="text"],
form input[type="password"],
form input[type="email"],
form textarea {
  border: 1px solid #ccc; }
form input[type="password"] {
  width: 150px;
  min-width: 150px; }
form input[type="email"] {
  width: 300px;
  min-width: 300px; }
form textarea {
  width: 100%; }
form label {
  margin-bottom: 0; }

.container {
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px; }
  .container .row {
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px; }
    .container .row > div {
      padding-left: 0;
      padding-right: 0; }
  @media (min-width: 768px) {
    .container {
      width: auto; }
      .container .row {
        padding-left: 12px;
        padding-right: 12px; }
        .container .row > div {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1280px) {
    .container {
      padding-left: 15px;
      padding-right: 15px;
      width: 1280px; }
      .container .row {
        padding-left: 0;
        padding-right: 0;
        margin-left: -15px;
        margin-right: -15px; }
        .container .row > div {
          padding-left: 15px;
          padding-right: 15px; } }

#wrapper {
  overflow: auto;
  position: relative;
  width: 100%;
  /*height: 100%;*/
  -webkit-overflow-scrolling: touch; }
  #wrapper.sidebar-opened {
    overflow: hidden; }

.skip:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 9999;
  color: #fff;
  text-align: center;
  background-color: #000; }

#header {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  background-color: #fff; }
  @media (min-width: 768px) {
    #header {
      height: 100px; } }
  @media (min-width: 1280px) {
    #header {
      height: 150px;
      border-bottom: 3px solid #234ea2;
      -webkit-transition: height .2s ease-out;
      -moz-transition: height .2s ease-out;
      -o-transition: height .2s ease-out;
      transition: height .2s ease-out; } }
  #header .top {
    height: 100%;
    background-color: #234ea2; }
    @media (min-width: 1280px) {
      #header .top {
        height: 150px; } }
    #header .top .logo {
      display: block;
      margin: 6px auto 0;
      width: 79px;
      height: 42px; }
      #header .top .logo > img {
        width: 100%; }
      @media (min-width: 768px) {
        #header .top .logo {
          margin-top: 15px;
          width: 125px;
          height: 68px; } }
      @media (min-width: 1280px) {
        #header .top .logo {
          overflow: hidden;
          margin-top: 24px;
          width: 105px;
          height: 57px; } }
    #header .top .btn-sidebar.btn-sidebar-open {
      position: absolute;
      top: 16px;
      left: 0;
      padding: 5px 0 0;
      width: 28px;
      height: 30px;
      border: 0;
      cursor: pointer; }
      #header .top .btn-sidebar.btn-sidebar-open > .icon-bar {
        display: block;
        margin-bottom: 5px;
        width: 100%;
        height: 3px;
        background-color: #fff; }
      @media (min-width: 768px) {
        #header .top .btn-sidebar.btn-sidebar-open {
          top: 25px;
          left: 11px;
          padding-top: 9px;
          width: 50px;
          height: 46px; }
          #header .top .btn-sidebar.btn-sidebar-open > .icon-bar {
            margin-bottom: 9px;
            height: 5px; } }
    #header .top .btn-home {
      position: absolute;
      top: 17px;
      right: 0;
      padding: 0;
      border: 0;
      width: 26px;
      height: 25px; }
      #header .top .btn-home > img {
        width: 100%; }
      @media (min-width: 768px) {
        #header .top .btn-home {
          top: 27px;
          right: 10px;
          width: 46px;
          height: 44px; } }
    #header .top .zoom {
      margin-top: 45px; }
      #header .top .zoom > ul {
        overflow: hidden; }
        #header .top .zoom > ul > li {
          float: left;
          margin-left: 15px; }
          #header .top .zoom > ul > li > a {
            display: block;
            padding-right: 20px;
            font-weight: bold;
            color: #fff;
            background-position: 100% 50%;
            background-repeat: no-repeat; }
          #header .top .zoom > ul > li.in > a {
            background-image: url(/images/ico_zoom_in.gif); }
          #header .top .zoom > ul > li.out > a {
            background-image: url(/images/ico_zoom_out.gif); }
          #header .top .zoom > ul > li:first-child {
            margin-left: 0; }
    #header .top .sns.hidden-xs {
      float: left;
      margin-top: 43px; }
      #header .top .sns.hidden-xs > ul > li {
        float: left;
        margin-top: 3px;
        margin-left: 20px; }
        #header .top .sns.hidden-xs > ul > li:first-child {
          margin-top: 0;
          margin-left: 0; }
    #header .top .membership.hidden-xs {
      float: right;
      margin-top: 47px; }
      #header .top .membership.hidden-xs > ul > li {
        float: left;
        margin-left: 15px; }
        #header .top .membership.hidden-xs > ul > li > a {
          color: #fff;
          font-size: 13px; }
  #header #navbar {
    margin-top: -59px; }
    #header #navbar .row > div {
      padding: 0; }
      #header #navbar .row > div:first-child > .sub-menu {
        border-left: 0; }
    #header #navbar .main-menu {
      display: block;
      padding-top: 20px;
      height: 56px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-weight: bold; }
    #header #navbar .sub-menu {
      overflow: hidden;
      position: relative;
      margin-top: 3px;
      padding: 30px 35px 30px 30px;
      height: 548px;
      z-index: 1;
      border-left: 1px solid #dedede; }
      #header #navbar .sub-menu > ul > li > a {
        position: relative;
        display: block;
        color: #555;
        font-size: 13px;
        line-height: 28px; }
        #header #navbar .sub-menu > ul > li > a > i {
          position: absolute;
          top: 0;
          right: -15px;
          font-size: 16px; }
      #header #navbar .sub-menu > ul > li > ul {
        padding-top: 5px;
        padding-bottom: 5px; }
        #header #navbar .sub-menu > ul > li > ul > li > a {
          font-size: 12px;
          color: #888;
          line-height: 20px; }
          #header #navbar .sub-menu > ul > li > ul > li > a::before {
            content: '- '; }
  #header.navbar-opened {
    height: 701px; }

#content {
  padding-top: 60px; }
  @media (min-width: 768px) {
    #content {
      padding-top: 100px; } }
  @media (min-width: 1280px) {
    #content {
      padding-top: 150px; } }

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s; }
  .sidebar-opened #sidebar {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  @media (min-width: 768px) {
    #sidebar {
      width: 500px;
      -webkit-transform: translateX(-500px);
      -moz-transform: translateX(-500px);
      -ms-transform: translateX(-500px);
      -o-transform: translateX(-500px);
      transform: translateX(-500px); } }
  #sidebar > .membership {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 60px;
    background-color: #234ea2; }
    @media (min-width: 768px) {
      #sidebar > .membership {
        height: 100px; } }
    #sidebar > .membership > ul {
      overflow: hidden;
      padding: 10px 2px; }
      @media (min-width: 768px) {
        #sidebar > .membership > ul {
          padding: 24px 10px;
          line-height: 32px; } }
      #sidebar > .membership > ul > li {
        float: left; }
        #sidebar > .membership > ul > li > a {
          display: block;
          padding: 10px;
          color: #fff;
          font-size: 14px; }
          @media (min-width: 768px) {
            #sidebar > .membership > ul > li > a {
              font-size: 22px; } }
        #sidebar > .membership > ul > li.divider {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 13px; }
          @media (min-width: 768px) {
            #sidebar > .membership > ul > li.divider {
              font-size: 20px;
              line-height: 28px; } }
          #sidebar > .membership > ul > li.divider::after {
            content: '|'; }
  #sidebar > .btn-sidebar.btn-sidebar-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    width: 60px;
    height: 60px;
    padding: 0;
    border: 0; }
    @media (min-width: 768px) {
      #sidebar > .btn-sidebar.btn-sidebar-close {
        width: 100px;
        height: 100px; } }
    #sidebar > .btn-sidebar.btn-sidebar-close > img {
      width: 100%;
      height: 100%; }
  #sidebar > .menu {
    position: relative;
    padding-top: 60px;
    padding-bottom: 53px;
    height: 100%; }
    @media (min-width: 768px) {
      #sidebar > .menu {
        padding-top: 100px;
        padding-bottom: 88px; } }
    #sidebar > .menu > div {
      overflow: auto;
      position: relative;
      width: 100%;
      height: 100%; }
      #sidebar > .menu > div > ul > li {
        border-bottom: 1px solid #d9d9d9; }
        #sidebar > .menu > div > ul > li > a {
          position: relative;
          display: block;
          padding: 15px 10px;
          height: 50px;
          font-size: 14px;
          color: #333; }
          @media (min-width: 768px) {
            #sidebar > .menu > div > ul > li > a {
              padding: 24px 20px;
              height: 80px;
              font-size: 24px; } }
          #sidebar > .menu > div > ul > li > a > i {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #aaa;
            font-size: 24px; }
            @media (min-width: 768px) {
              #sidebar > .menu > div > ul > li > a > i {
                top: 20px;
                right: 20px;
                font-size: 34px; } }
        #sidebar > .menu > div > ul > li > ul {
          display: none;
          padding: 10px 0; }
          @media (min-width: 768px) {
            #sidebar > .menu > div > ul > li > ul {
              padding: 20px 0; } }
          #sidebar > .menu > div > ul > li > ul > li > a {
            position: relative;
            display: block;
            padding-right: 10px;
            padding-left: 10px;
            color: #777;
            font-size: 13px;
            line-height: 30px; }
            @media (min-width: 768px) {
              #sidebar > .menu > div > ul > li > ul > li > a {
                padding-left: 20px;
                padding-right: 20px;
                font-size: 20px;
                line-height: 50px; } }
            #sidebar > .menu > div > ul > li > ul > li > a > i {
              position: absolute;
              top: 0;
              right: 12px;
              font-size: 20px; }
              @media (min-width: 768px) {
                #sidebar > .menu > div > ul > li > ul > li > a > i {
                  right: 22px;
                  font-size: 30px; } }
          #sidebar > .menu > div > ul > li > ul > li > ul {
            display: none;
            padding: 5px 0; }
            @media (min-width: 768px) {
              #sidebar > .menu > div > ul > li > ul > li > ul {
                padding: 10px 0; } }
            #sidebar > .menu > div > ul > li > ul > li > ul > li > a {
              display: block;
              padding-left: 10px;
              padding-right: 10px;
              font-size: 12px;
              line-height: 24px;
              color: #888; }
              #sidebar > .menu > div > ul > li > ul > li > ul > li > a::before {
                content: '- '; }
              @media (min-width: 768px) {
                #sidebar > .menu > div > ul > li > ul > li > ul > li > a {
                  padding-left: 20px;
                  padding-right: 20px;
                  font-size: 16px;
                  line-height: 36px; } }
          #sidebar > .menu > div > ul > li > ul > li.active > ul {
            display: block; }
        #sidebar > .menu > div > ul > li.active > a {
          color: #fff;
          background-color: #777; }
          #sidebar > .menu > div > ul > li.active > a > i {
            color: #fff; }
        #sidebar > .menu > div > ul > li.active > ul {
          display: block; }
  #sidebar > .sns {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 53px;
    background-color: #f1f1f1;
    border-top: 1px solid #e4e4e4; }
    @media (min-width: 768px) {
      #sidebar > .sns {
        height: 88px; } }
    #sidebar > .sns > ul {
      overflow: hidden;
      margin-left: 25px; }
      @media (min-width: 768px) {
        #sidebar > .sns > ul {
          margin-top: 10px;
          margin-left: 75px; } }
      #sidebar > .sns > ul > li {
        float: left;
        padding-top: 3px;
        line-height: 22px; }
        #sidebar > .sns > ul > li > a {
          display: block;
          padding: 10px 15px; }
        #sidebar > .sns > ul > li.happybean {
          padding-top: 0; }
          #sidebar > .sns > ul > li.happybean img {
            width: 43px;
            height: 21px; }
        #sidebar > .sns > ul > li.twitter img {
          width: 19px;
          height: 16px; }
        #sidebar > .sns > ul > li.facebook img {
          width: 8px;
          height: 15px; }
        #sidebar > .sns > ul > li.cyworld img {
          width: 17px;
          height: 17px; }
        @media (min-width: 768px) {
          #sidebar > .sns > ul > li {
            line-height: 36px;
            padding-top: 5px !important; }
            #sidebar > .sns > ul > li.happybean {
              padding-top: 0 !important; }
            #sidebar > .sns > ul > li > a {
              padding: 12px 24px; }
              #sidebar > .sns > ul > li > a > img {
                width: auto !important;
                height: auto !important; } }

#footer {
  text-align: center;
  color: #aaa;
  font-size: 13px; }
  #footer .logo {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center; }
  #footer .policy {
    margin-bottom: 20px; }
    #footer .policy > ul {
      text-align: center; }
      #footer .policy > ul > li {
        display: inline-block;
        pading-left: 15px;
        padding-right: 15px; }
        #footer .policy > ul > li > a {
          color: #666;
          font-size: 13px; }
  #footer .information {
    line-height: 20px; }
    #footer .information > p {
      margin-bottom: 0; }
    #footer .information > ul > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px; }
      #footer .information > ul > li.bar {
        padding-left: 0;
        padding-right: 0;
        height: 20px;
        font-size: 12px; }
        #footer .information > ul > li.bar::after {
          content: '|'; }
      #footer .information > ul > li address {
        margin-bottom: 0; }
  #footer .family {
    margin-top: 15px;
    margin-bottom: 30px; }
    #footer .family > .btn-group {
      position: relative;
      width: 100%;
      padding-right: 35px; }
      @media (min-width: 768px) {
        #footer .family > .btn-group {
          width: 270px; } }
      #footer .family > .btn-group > button:nth-of-type(1) {
        width: 100%;
        color: #aaa;
        text-align: left; }
      #footer .family > .btn-group > button:nth-of-type(2) {
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        background-color: #aaa;
        border-color: #aaa;
        color: #fff; }
      #footer .family > .btn-group > .dropdown-menu {
        width: 100%;
        border-radius: 0;
        margin-bottom: -1px;
        text-align: center; }
        #footer .family > .btn-group > .dropdown-menu > li > a {
          color: #777; }

.backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9990; }
  .sidebar-opened .backdrop {
    display: block; }
    @media (min-width: 1280px) {
      .sidebar-opened .backdrop {
        display: none; } }
