@charset "UTF-8";
/*
 * @설명: 커뮤니티 메뉴의 하위 메뉴들에 대한 스타일
 */
.community.talk > .comment {
  padding-top: 20px;
  border-top: 2px solid #234ea2; }
  @media (min-width: 768px) {
    .community.talk > .comment {
      padding-top: 30px; } }
  .community.talk > .comment > .form > h3 {
    color: #f99d1c !important; }

.community.magazine > .share {
  padding-top: 20px;
  border-top: 2px solid #234ea2; }
  @media (min-width: 768px) {
    .community.magazine > .share {
      padding-top: 40px; } }
  .community.magazine > .share > div {
    overflow: hidden;
    padding: 20px 20px 30px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    background-color: #f7f7f7; }
    @media (min-width: 768px) {
      .community.magazine > .share > div {
        padding: 30px; } }
    .community.magazine > .share > div > figure {
      border: 1px solid #ccc; }
      @media (min-width: 768px) {
        .community.magazine > .share > div > figure {
          float: left; } }
      .community.magazine > .share > div > figure > img {
        width: 100%; }
    .community.magazine > .share > div > .form-wrap {
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .community.magazine > .share > div > .form-wrap {
          margin-left: 300px; } }
      .community.magazine > .share > div > .form-wrap > form > h2 {
        margin-bottom: 5px;
        color: #333;
        font-size: 18px;
        line-height: 24px; }
        @media (min-width: 768px) {
          .community.magazine > .share > div > .form-wrap > form > h2 {
            margin-top: 5px; } }
      .community.magazine > .share > div > .form-wrap > form > p {
        color: #757575;
        font-size: 13px;
        line-height: 22px; }
        @media (min-width: 768px) {
          .community.magazine > .share > div > .form-wrap > form > p {
            margin-bottom: 25px;
            font-size: 14px;
            line-height: 24px; } }
      .community.magazine > .share > div > .form-wrap > form > dl {
        padding-top: 15px;
        border-top: 1px solid #d6d6d6; }
        .community.magazine > .share > div > .form-wrap > form > dl > dt {
          color: #444; }
          .community.magazine > .share > div > .form-wrap > form > dl > dt + dd {
            width: 140px; }
            @media (min-width: 768px) {
              .community.magazine > .share > div > .form-wrap > form > dl > dt + dd {
                float: left; } }
          @media (min-width: 768px) {
            .community.magazine > .share > div > .form-wrap > form > dl > dt + dd + dd {
              margin-left: 150px; } }
        .community.magazine > .share > div > .form-wrap > form > dl > dd {
          margin-bottom: 10px; }
          .community.magazine > .share > div > .form-wrap > form > dl > dd > label {
            width: 100%;
            margin-bottom: 0;
            font-weight: normal; }
          .community.magazine > .share > div > .form-wrap > form > dl > dd input {
            width: 100%;
            font-size: 14px;
            color: #777;
            text-indent: 5px;
            font-weight: normal; }
    .community.magazine > .share > div > .btn-area {
      margin-bottom: 0 !important; }
      .community.magazine > .share > div > .btn-area > p {
        text-align: left !important; }
        @media (min-width: 768px) {
          .community.magazine > .share > div > .btn-area > p {
            text-align: right !important; } }
        .community.magazine > .share > div > .btn-area > p > a {
          margin-left: 0 !important;
          margin-right: 10px !important;
          font-size: 14px !important; }
          @media (min-width: 768px) {
            .community.magazine > .share > div > .btn-area > p > a {
              margin-left: 10px !important;
              margin-right: 0 !important;
              font-size: 15px !important; } }
.community.magazine > .category-nav {
  margin-bottom: 0 !important; }
.community.magazine > .gallery.list {
  padding-top: 0;
  border-top: 0; }
  .community.magazine > .gallery.list .peice {
    border: 1px solid #ccc; }
    @media (min-width: 768px) {
      .community.magazine > .gallery.list .peice {
        margin-top: 20px; } }
